 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	text-decoration: none; 
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*___________________myCSS________________________*/
body {
	background: #B4B4B4;
	font: 16px/21px Roboto, sans-serif;
	min-width: 1024px;
	min-width: 1024px;
}

.wrapper {
	padding: 0 80px;
	margin: 10px auto;
}
#header {
    min-width: 1300px;
    color: #616161;
    margin-bottom: 25px;
}

.header-container {
	display: flex;
  	position: relative;
	align-items: center;
}

.logo {
	padding-left: 36px; 
	color: #707070;
}

.select{
	padding: 0 25px;
	font-family: Roboto, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-left: 40px;
}
 
.select a{
	color: #23221D;
	cursor: pointer;
	text-decoration: none;
}

.select a:hover {
	color: #fff;
}


* {
    outline: none;
}

.td {
    display: table-cell;
    vertical-align: middle;
}

input, button { 
    border: 0;
    background-color: transparent;
}

#cover {
    border-radius: 10px;
    border: 4px #7E7E7E solid;
    transform: scale(0.6);
    padding-left: 20px;
 }

form {
   padding-left: 15px;
}

input[type="text"] {
    height: 56px;
    font-size: 40px;
    padding-left: 10px;
    line-height: 1;
}

input[type="text"]::placeholder {
    color: #7E7E7E;
}

.btn {
    cursor: pointer;
}

.btn .img {
	width: 74px;
    height: 66px;

}

 .nav-arrow svg {
 	color: #C4D7E5;
	width: 55px;
    height: 98px;
    position: fixed;
    left: 15px;
    bottom: 30px;
}

audio {
	margin-left: 20px;
	opacity: 0.5;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
    text-align: center;
    color: #767676;
     font-family: Roboto, sans-serif;
}

.main {
	display: flex;
	align-items: stretch;
	min-height: calc(100vh - 80px);
}
.sidebar {
	width: 300px;
	padding: 50px;
	border-radius: 15px;
	background-image: url(../images/Pportrait.png); 
	background-repeat: no-repeat;
 	background-size: cover;
	background-position: bottom center;	
	margin-bottom: 30px;
	cursor: pointer;
	transition: 1s;
}

.sidebar:hover {
	background-image: url(../images/dance-boy.jpg); 
}

.content {
	background-image: url(../images/palms.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
	background-position: bottom center;	
	width: 80%;
	margin-left: 30px;
	border-radius: 15px;
	margin-bottom: 30px;
	transition: 1s;
	padding: 30px 250px 30px 30px;
	opacity: 10;
}

.content:hover {
	background-image: url(../images/pablo-picasso.png);
}

.main-bio {

}

.parallax {
  /* The image used */
  	background-image: url("../images/lotary.jpg");
  /* Set a specific height */
    height: 80vh;
    border-radius: 15px;
  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bio {
	background-image: url("../images/Pablo_Picasso.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   	border-radius: 15px;
   	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 30px;
	padding: 30px 700px 30px 40px;
	font-family: Roboto, sans-serif;

}

.art-title {
	font-size: 24px;
	font-weight: bold;
    color: #000;
    line-height: 25.5px;
    padding: 0 0 5px 0;
    text-transform: none;
}

 

.pic-section {
	display: flex;
	margin-bottom: 30px;
}

.box-1,
.box-2,
.box-3 {
	flex: 1;
	padding: 25px;
	border: 2px solid #D5DDDF;
	border-radius: 15px;
	justify-content: space-around;
}

h3{
	font-weight: bold;
	padding-bottom: 20px;
}

.pic-section p {
	padding-bottom: 30px;
	font-family: Roboto, sans-serif;
}


.box-1 {
	margin-right: 15px;
}
.box-1:hover {
	background-image: url(../images/absinthe.jpg); 
}
.box-2 {
	margin-right: 15px;
}

.box-2:hover {
	background-image: url(../images/arlequin.jpg); 
}

.box-3:hover {
	background-image: url(../images/dora-maar.jpg);
}